parameters:
	ignoreErrors:
		-
			message: "#^Method Mmm\\\\Inert\\\\ServiceContainer\\:\\:get\\(\\) should return object but returns mixed\\.$#"
			count: 1
			path: src/ServiceContainer.php

		-
			message: "#^Unsafe access to private constant Mmm\\\\Inert\\\\Tests\\\\ApplicationTest\\:\\:ERROR_MESSAGE through static\\:\\:\\.$#"
			count: 1
			path: tests/ApplicationTest.php

		-
			message: "#^Unsafe access to private constant Mmm\\\\Inert\\\\Tests\\\\ApplicationTest\\:\\:SUCCESSFUL_MESSAGE through static\\:\\:\\.$#"
			count: 1
			path: tests/ApplicationTest.php

		-
			message: "#^Unsafe access to private constant Mmm\\\\Inert\\\\Tests\\\\ErrorActionTest\\:\\:ERROR_MESSAGE through static\\:\\:\\.$#"
			count: 1
			path: tests/ErrorActionTest.php

		-
			message: "#^Unsafe access to private property Mmm\\\\Inert\\\\Tests\\\\Internal\\\\Counter\\:\\:\\$calls through static\\:\\:\\.$#"
			count: 5
			path: tests/Internal/Counter.php

